.uk-alert-close {
	color: black !important;
}
.uk-card-body {
	padding: 20px;
}
.uk-card-media-top {
	max-height: 350px;
	overflow: hidden;
}
.acard:hover {
	text-decoration: none;
}
.uk-list li {
	cursor: pointer;
}
.reader-bg {
	background-color: black;
}
#scan-status {
	cursor: auto;
}
.uk-card-title {
	word-wrap: break-word;
}
.uk-logo > img {
	max-height: 90px;
}
.uk-search {
	width: 100%;
}
#selectable .ui-selecting {
  background: #EEE6B9;
}
#selectable .ui-selected {
  background: #F4E487;
}
#selectable .ui-selecting.dark {
  background: #5E5731;
}
#selectable .ui-selected.dark {
  background: #9D9252;
}
