.uk-alert-close {
    color: black !important;
}

.uk-card-body {
    padding: 20px;
}

.uk-card-media-top {
    width: 100%;
    height: 250px;
}

@media (min-width: 600px) {
    .uk-card-media-top {
        height: 300px;
    }
}

.uk-card-media-top>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.uk-card-title {
    max-height: 3em;
}

.acard:hover {
    cursor: pointer;
}

.uk-list li:not(.nopointer) {
    cursor: pointer;
}

#scan-status {
    cursor: auto;
}

.reader-bg {
    background-color: black;
}

.break-word {
    word-wrap: break-word;
}

.uk-logo>img {
    height: 90px;
    width: 90px;
}

.uk-search {
    width: 100%;
}

#selectable .ui-selecting {
    background: #EEE6B9;
}

#selectable .ui-selected {
    background: #F4E487;
}

.uk-light #selectable .ui-selecting {
    background: #5E5731;
}

.uk-light #selectable .ui-selected {
    background: #9D9252;
}

td>.uk-dropdown {
    white-space: pre-line;
}

#edit-modal .uk-grid>div {
    height: 300px;
}

#edit-modal #cover {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#edit-modal #cover-upload {
    height: 100%;
    box-sizing: border-box;
}

#edit-modal .uk-modal-body .uk-inline {
    width: 100%;
}

.item .uk-card-title {
    font-size: 1rem;
}

.grayscale {
    filter: grayscale(100%);
}

.uk-light .uk-navbar-dropdown,
.uk-light .uk-modal-header,
.uk-light .uk-modal-body,
.uk-light .uk-modal-footer {
    background: #222;
}

.uk-light .uk-dropdown {
    background: #333;
}

.uk-light .uk-navbar-dropdown,
.uk-light .uk-dropdown {
    color: #ccc;
}

.uk-light .uk-nav-header,
.uk-light .uk-description-list>dt {
    color: #555;
}

[x-cloak] {
    display: none;
}

#select-bar-controls a {
    transform: scale(1.5, 1.5);
}

#select-bar-controls a:hover {
    color: orange;
}
