<h2 class=uk-title>Download from MangaDex</h2>
<form class="uk-grid-small" uk-grid>
	<div class="uk-width-3-4">
		<input class="uk-input" type="text" placeholder="MangaDex manga ID or URL">
	</div>
	<div class="uk-width-1-4">
		<button class="uk-button uk-button-default">Search</button>
	</div>
</form>
