<!DOCTYPE html>
<html>

  <% page = "Login" %>
  <%= render_component "head" %>

  <body>
    <div class="uk-section uk-flex uk-flex-middle uk-animation-fade" uk-height-viewport="">
      <div class="uk-width-1-1">
        <div class="uk-container">
          <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
            <div class="uk-width-1-1@m">
              <div class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
                <h3 class="uk-card-title uk-text-center">Log In</h3>
                <form action="<%= base_url %>login" method="post">
                  <div class="uk-margin">
                    <div class="uk-inline uk-width-1-1"><span class="uk-form-icon" uk-icon="icon:user"></span><input class="uk-input uk-form-large" type="text" name="username"></div>
                  </div>
                  <div class="uk-margin">
                    <div class="uk-inline uk-width-1-1"><span class="uk-form-icon" uk-icon="icon:lock"></span><input class="uk-input uk-form-large" type="password" name="password"></div>
                  </div>
                  <div class="uk-margin"><button class="uk-button uk-button-primary uk-button-large uk-width-1-1">Login</button></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      setTheme();
    </script>
    <%= render_component "uikit" %>
  </body>

</html>
