<!DOCTYPE html>
<html class="reader-bg">

  <%= render_component "head" %>

  <body>
    <div class="uk-section uk-section-default uk-section-small reader-bg">
      <div class="uk-container uk-container-small">
        <div id="alert"></div>
        <div id="root" x-data="{
        loading: true, 
        msg: 'Loading the web reader. Please wait...',
        alertClass: 'uk-alert-primary',
        items: []
        }">
          <div x-show="loading">
            <div :class="alertClass" x-show="msg" uk-alert>
              <p x-text="msg"></p>
            </div>
          </div>
          <div x-show="!loading" x-cloak>
            <template x-for="item in items">
              <img
                      uk-img
                      class="uk-align-center"
                      :data-src="item.url"
                      :width="item.width"
                      :height="item.height"
                      :id="item.id"
                      @click="showControl($event)"
                      />
            </template>
            <%- if next_entry_url -%>
              <button id="next-btn" class="uk-align-center uk-button uk-button-primary" @click="nextEntry('<%= next_entry_url %>')">Next Entry</button>
            <%- else -%>
              <button id="next-btn" class="uk-align-center uk-button uk-button-primary" @click="redirect('<%= exit_url %>')">Exit Reader</button>
            <%- end -%>
          </div>
        </div>
      </div>
    </div>

    <div id="modal-sections" class="uk-flex-top" uk-modal>
      <div class="uk-modal-dialog uk-margin-auto-vertical">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
          <h3 class="uk-modal-title break-word"><%= entry.display_name %></h3>
          <p class="uk-text-meta uk-margin-remove-bottom break-word"><%= entry.zip_path %></p>
        </div>
        <div class="uk-modal-body">
          <div class="uk-margin">
            <p id="progress-label"></p>
          </div>
          <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-select">Jump to page</label>
            <div class="uk-form-controls">
              <select id="page-select" class="uk-select">
                <%- (1..entry.pages).each do |p| -%>
                  <option value="<%= p %>"><%= p %></option>
                <%- end -%>
              </select>
            </div>
          </div>
        </div>
        <div class="uk-modal-footer uk-text-right">
          <button class="uk-button uk-button-danger" type="button" onclick="redirect('<%= exit_url %>')">Exit Reader</button>
        </div>
      </div>
    </div>

    <script>
      const base_url = "<%= base_url %>";
      const page = <%= page %>;
      const tid = "<%= title.id %>";
      const eid = "<%= entry.id %>";
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/protonet-jquery.inview/1.1.2/jquery.inview.min.js"></script>
    <script src="<%= base_url %>js/alert.js"></script>
    <script src="<%= base_url %>js/uikit.min.js"></script>
    <script src="<%= base_url %>js/uikit-icons.min.js"></script>
    <script src="<%= base_url %>js/reader.js"></script>
  </body>

  <style>
img[data-src][src*='data:image'] { background: white; }
#root img { width: 100%; }
  </style>

</html>
